<header class="site-header">
    <div class="header-links">
        <div class="header-links-container">
            <div class="phone-chat-links">
                <span class="text-link">Support: <a href="tel:18009614454">1-800-961-4454</a></span>
                <span class="text-link">Sales: <a href="tel:18448589954">1-844-858-9954</a></span>
                <span class="text-link"><a href="">Sales Chat</a></span>
            </div>
            <div class="portal-links">
                <span class="text-link"><a href="">Developers</a></span>
                <span class="text-link"><a href="">Partners</a></span>
                <a href="" class="btn-link">Sign Up</a>
                <a href="" class="btn-link">Log In</a>
            </div>
        </div>
    </div>
    <div class="header-nav">
        <nav class="header-nav-container">
            <ul>
                <li class="logo"><a href=""><img src="src/img/rackspace-logo.svg" alt="Rackspace Logo" /></a></li>
                <li><a href="">Documentation</a></li>
                <li><a href="">Products</a></li>
                <li><a href="">Community</a></li>
            </ul>
        </nav>
    </div>
    <div class="header-headline">
        <div class="header-headline-container">
            <h2>
                <span class="headline-accent">Rackspace</span>
                Developers Documentation
            </h2>
            <p class="tagline">Let’s build something great together!</p>
        </div>
    </div>
</header>
