<header class="site-header">
    <div class="header-links">
        <div class="header-links-container">
            <div class="phone-chat-links">
                <span class="text-link">Support: <a href="tel:18009614454">1-800-961-4454</a></span>
                <span class="text-link">Sales: <a href="tel:18448589954">1-844-858-9954</a></span>
                <span class="text-link"><a href="">Sales Chat</a></span>
            </div>
            <ul class="portal-links">
                <li class="text-link"><a href="">Developers</a></span>
                <li class="text-link"><a href="">Partners</a></span>
                <li class="btn-link sign-up">
                    <span>Sign Up</span>
                    <ul>
                        <li><a href="https://cart.rackspace.com/cloud">Rackspace Cloud</a></li>
                        <li><a href="https://cart.rackspace.com/cloud/sites">Cloud Sites</a></li>
                        <li><a href="https://cart.rackspace.com/apps">Cloud Office</a></li>
                    </ul>
                </li>
                <li class="btn-link">
                   <span>Log In</span>
                    <ul>
                        <li><a href="https://my.rackspace.com/portal/auth/login">MyRackspace Portal</a></li>
                        <li><a href="https://mycloud.rackspace.com">Cloud Control Panel</a></li>
                        <li><a href="https://manage.rackspacecloud.com/pages/Login.jsp">Cloud Sites Control Panel</a></li>
                        <li><a href="https://apps.rackspace.com">Rackspace Webmail Login</a></li>
                        <li><a href="https://cp.rackspace.com">Email Admin Login</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="header-nav">
        <nav class="header-nav-container">
            <ul>
                <li class="logo"><a href=""><img src="src/img/rackspace-logo.svg" alt="Rackspace Logo" /></a></li>
                <li><a href="">Documentation</a></li>
                <li><a href="">Products</a></li>
                <li><a href="">Community</a></li>
            </ul>
        </nav>
    </div>
    <div class="header-headline">
        <div class="header-headline-container">
            <h2>
                <span class="headline-accent">Rackspace</span>
                Developers Documentation
            </h2>
            <p class="tagline">Let’s build something great together!</p>
        </div>
    </div>
</header>
