<!DOCTYPE html>
<html lang="en">
<head>
    
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>
        <link rel="stylesheet" href="public/dist/css/main.css">
    
</head>
<body class="docs-home">
    
    
        <header class="site-header">
    <div class="header-links">
        <div class="header-links-container">
            <div class="phone-chat-links">
                <span class="text-link support-link">Tweet: <a href="http://twitter.com/rackspace">@rackspace</a></span>
                <span class="text-link">IRC on Freenode <a href="https://webchat.freenode.net/?channels=rackspace">#rackspace</a></span>
                <span class="text-link">Email <a href="mailto:sdk-support@rackspace.com">sdk-support@rackspace.com</a></span>
                <span class="text-link"><a href="http://community.rackspace.com/developers/default">developer forum</a></span>
            </div>
            <ul class="portal-links">
                <li class="btn-link sign-up">
                    <span>Sign Up</span>
                    <ul>
                        <li><a href="https://cart.rackspace.com/cloud">Rackspace Cloud</a></li>
                        <li><a href="https://cart.rackspace.com/cloud/sites">Cloud Sites</a></li>
                        <li><a href="https://cart.rackspace.com/apps">Cloud Office</a></li>
                    </ul>
                </li>
                <li class="btn-link">
                   <span>Log In</span>
                    <ul>
                        <li><a href="https://my.rackspace.com/portal/auth/login">MyRackspace Portal</a></li>
                        <li><a href="https://mycloud.rackspace.com">Cloud Control Panel</a></li>
                        <li><a href="https://manage.rackspacecloud.com/pages/Login.jsp">Cloud Sites Control Panel</a></li>
                        <li><a href="https://apps.rackspace.com">Rackspace Webmail Login</a></li>
                        <li><a href="https://cp.rackspace.com">Email Admin Login</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="header-nav">
    <nav class="header-nav-container">
        <ul>
            <li class="logo"><a href=""><img src="public/dist/img/rackspace-logo.svg" alt="Rackspace Logo" /></a></li>
            <li>
                <a href="/">Developer Home</a>
            </li>
            <li>
                <a href="/docs.html" data-drc-dropdown-toggle="dropdown-documentation">Documentation</a>
            </li>
            <li>
                <a href="/blog.html">Blog</a>
            </li>
            <li>
                <a href="" data-drc-dropdown-toggle="dropdown-community">Popular Topics</a>
            </li>
        </ul>
        <div class="nav-dropdown" id="dropdown-documentation">
            <div class="dropdown-container">
                <div class="dropdown-grid">
                    <div class="dropdown-column">
                        <h5>SDK Quickstarts</h5>
                        <ul>
                            <li><a href="">Gophercloud</a> <span class="sdk-language">Go</span></li>
                            <li><a href="">JClouds</a> <span class="sdk-language">Java</span></li>
                            <li><a href="">OpenStack.NET</a><span class="sdk-language">.NET</span></li>
                            <li><a href="">pkgcloud</a> <span class="sdk-language">Node.js</span></li>
                            <li><a href="">php-opencloud</a> <span class="sdk-language">PHP</span></li>
                            <li><a href="">pyrax</a> <span class="sdk-language">Python</span></li>
                            <li><a href="">fog</a> <span class="sdk-language">Ruby</span></li>
                        </ul>
                    </div>
                    <div class="dropdown-column">
                        <h5>Cloud User Guides</h5>
                        <ul>
                            <li><a href="">Core Infrastructure</a></li>
                            <li><a href="">Cloud Servers</a></li>
                            <li><a href="">Cloud Images</a></li>
                            <li><a href="">Orchestration</a></li>
                        </ul>
                    </div>
                    <div class="dropdown-column">
                        <h5>Developer Community</h5>
                        <ul>
                            <li><a href="">Developer Blog</a></li>
                            <li><a href="">Knowledge Center</a></li>
                            <li><a href="">Developer Forum</a></li>
                            <li><a href="">Outreach &amp; Events</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="nav-dropdown" id="dropdown-products">
            <div class="dropdown-container">
                <div class="dropdown-grid">
                    <div class="dropdown-column">
                        <h5>Rackspace Cloud</h5>
                        <ul>
                            <li><a href="">Auto Scale</a></li>
                            <li><a href="">CDN</a></li>
                            <li><a href="">Cloud Block Storage</a></li>
                            <li><a href="">Cloud Databases</a></li>
                            <li><a href="">Cloud DNS</a></li>
                            <li><a href="">Cloud Files</a></li>
                            <li><a href="">Cloud Identity</a></li>
                            <li><a href="">Cloud Images</a></li>
                            <li><a href="">Cloud Load Balancers</a></li>
                            <li><a href="">Cloud Monitoring</a></li>
                            <li><a href="">Cloud Networks</a></li>
                            <li><a href="">Cloud Queues</a></li>
                            <li><a href="">Cloud Servers</a></li>
                            <li><a href="">Orchestration</a></li>
                        </ul>
                    </div>
                    <div class="dropdown-column">
                        <h5>Other Products</h5>
                        <ul>
                            <li><a href="">Airbrake</a></li>
                            <li><a href="">Mailgun</a></li>
                            <li><a href="">ObjectRocket</a></li>
                            <li><a href="">RedisToGo</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="nav-dropdown" id="dropdown-community">
            <div class="dropdown-container">
                <div class="dropdown-grid">
                    <div class="dropdown-column">
                        <h5>Developer Community</h5>
                        <ul>
                            <li><a href="">Developer Blog</a></li>
                            <li><a href="">Knowledge Center</a></li>
                            <li><a href="">Developer Forum</a></li>
                            <li><a href="">Outreach &amp; Events</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>

    <div class="header-headline">
        <div class="header-headline-container">
            <h1>
                
                    <span class="headline-accent">Rackspace</span>
                
                
                    Developer Docs
                
            </h1>
            <br>
            
                <p class="tagline">Let’s Build Something Powerful Together!</p>
            
        </div>
    </div>
</header>

    
    
    <div class="docs-container">
        <section class="docs-body docs">
            
    <div class="sdk-quickstart-menu">
        <div class="title"><h2>Quickstart Guides:</h2></div>
        <div class="links">
            <ul>
                <li><a href=""><span class="fa fa-pied-piper"></span></a></li>
                <li><a href=""><span class="fa fa-pied-piper"></span></a></li>
                <li><a href=""><span class="fa fa-pied-piper"></span></a></li>
                <li><a href=""><span class="fa fa-pied-piper"></span></a></li>
                <li><a href=""><span class="fa fa-pied-piper"></span></a></li>
                <li><a href=""><span class="fa fa-pied-piper"></span></a></li>
                <li><a href=""><span class="fa fa-pied-piper"></span></a></li>
                <li><a href=""><span class="fa fa-pied-piper"></span></a></li>
            </ul>
        </div>
    </div>

            <div class="background">
                <div class="left"></div>
                <div class="center"></div>
                <div class="right"></div>
            </div>
            <nav class="docs-section-nav" data-drc-section-nav-toggle data-parent=".docs-body">
                <div class="section-nav-container" data-drc-sticky data-offset-top="392" data-drc-flex-height data-flex-bottom="302">
                    
    <h5>Filter by Product:</h5>
    <ul class="product-filters" data-ng-controller="DocsHomeSidebarCtrl">
        <li class="all" data-ng-click="clickFilter('*')" data-ng-class="{'active': isFilterActive('*')}">
            <a href="">
                <span class="label">All</span>
                <span class="indicator fa fa-check"></span>
            </a>
        </li>
        <li class="compute" data-ng-click="clickFilter('compute')" data-ng-class="{'active': isFilterActive('compute')}">
            <a href="">
                <span class="label">Compute</span>
                <span class="indicator fa fa-check"></span>
            </a>
        </li>
        <li class="network" data-ng-click="clickFilter('network')" data-ng-class="{'active': isFilterActive('network')}">
            <a href="">
                <span class="label">Networking</span>
                <span class="indicator fa fa-check"></span>
            </a>
        </li>
        <li class="storage" data-ng-click="clickFilter('storage')" data-ng-class="{'active': isFilterActive('storage')}">
            <a href="">
                <span class="label">Storage</span>
                <span class="indicator fa fa-check"></span>
            </a>
        </li>
        <li class="data" data-ng-click="clickFilter('data')" data-ng-class="{'active': isFilterActive('data')}">
            <a href="">
                <span class="label">Data</span>
                <span class="indicator fa fa-check"></span>
            </a>
        </li>
        <li class="infra" data-ng-click="clickFilter('infra')" data-ng-class="{'active': isFilterActive('infra')}">
            <a href="">
                <span class="label">Infrastructure &amp; Developer Tools</span>
                <span class="indicator fa fa-check"></span>
            </a>
        </li>
        <li class="private-cloud" data-ng-click="clickFilter('private-cloud')" data-ng-class="{'active': isFilterActive('private-cloud')}">
            <a href="">
                <span class="label">Private Cloud</span>
                <span class="indicator fa fa-check"></span>
            </a>
        </li>
        <li>
            <span data-ng-bind="filter"></span>
        </li>
    </ul>

                </div>
            </nav>
            <article class="docs-content">
                
    <div data-ng-controller="DocsHomeServicesCtrl">
        <section class="docs-category compute" data-ng-show="isSectionActive('compute')">
            <h2>Compute Services</h2>
            <p>Cloud Servers, powered by OpenStack<sup>&reg;</sup>, are virtual machines running Linux or Windows Server in the Rackspace Cloud. You can scale resources like CPU, memory, and storage up or down, depending on your needs. Best of all, you can pay as you go.</p>
            <div class="product-list">
                <div class="product">
                    <div class="card blue">
                        <div class="card-content">
                            <div class="card-title">
                                <h4>Cloud Servers</h4>
                            </div>
                            <div class="card-body">
                                <div class="list">
                                    <div class="list-column">
                                        <ul>
                                            <li><a href="">Developer Guide</a></li>
                                            <li><a href="">User Guide</a></li>
                                            <li><a href="">Knowledge Center</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product">
                    <div class="card blue">
                        <div class="card-content">
                            <div class="card-title">
                                <h4>Cloud Servers (Legacy)</h4>
                            </div>
                            <div class="card-body">
                                <div class="list">
                                    <div class="list-column">
                                        <ul>
                                            <li><a href="">Developer Guide</a></li>
                                            <li><a href="">User Guide</a></li>
                                            <li><a href="">Knowledge Center</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product">
                    <div class="card blue">
                        <div class="card-content">
                            <div class="card-title">
                                <h4>Cloud Images</h4>
                            </div>
                            <div class="card-body">
                                <div class="list">
                                    <div class="list-column">
                                        <ul>
                                            <li><a href="">Developer Guide</a></li>
                                            <li><a href="">User Guide</a></li>
                                            <li><a href="">Knowledge Center</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="docs-category network" data-ng-show="isSectionActive('network')">
            <h2>Network Services</h2>
            <p>Rackspace's Cloud Network services are on-demand, scalable, and provide technology-agnostic network abstraction, load balancing, and DNS management. Protect your infrastructure with Cloud Load Balancers by distributing traffic efficiently. Use Cloud DNS to manage domains and subdomains.</p>
            <div class="product-list">
                <div class="product">
                    <div class="card green">
                        <div class="card-content">
                            <div class="card-title">
                                <h4>Cloud Networks</h4>
                            </div>
                            <div class="card-body">
                                <div class="list">
                                    <div class="list-column">
                                        <ul>
                                            <li><a href="">Developer Guide</a></li>
                                            <li><a href="">User Guide</a></li>
                                            <li><a href="">Knowledge Center</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product">
                    <div class="card green">
                        <div class="card-content">
                            <div class="card-title">
                                <h4>Cloud Load Balancers</h4>
                            </div>
                            <div class="card-body">
                                <div class="list">
                                    <div class="list-column">
                                        <ul>
                                            <li><a href="">Developer Guide</a></li>
                                            <li><a href="">User Guide</a></li>
                                            <li><a href="">Knowledge Center</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product">
                    <div class="card green">
                        <div class="card-content">
                            <div class="card-title">
                                <h4>Cloud DNS</h4>
                            </div>
                            <div class="card-body">
                                <div class="list">
                                    <div class="list-column">
                                        <ul>
                                            <li><a href="">Developer Guide</a></li>
                                            <li><a href="">User Guide</a></li>
                                            <li><a href="">Knowledge Center</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="docs-category storage" data-ng-show="isSectionActive('storage')">
            <h2>Storage Services</h2>
            <p>With our storage services, you can get dependable and performant block storage, object storage, and backup solutions for your Cloud Servers. You can scale your storage independently from your compute resources while using high-performance storage for I/O-intensive applications or to serve databases. Plus, with Cloud Files, you can store and retrieve content in a secure system including a Content Delivery Network (CDN). If you want to enable CDN for your website resources beyond Cloud Files you can use the Rackspace CDN service which has finer control on caching rules, purging content, and specifying origins.</p>
            <div class="product-list">
                <div class="product">
                    <div class="card red">
                        <div class="card-content">
                            <div class="card-title">
                                <h4>Cloud Block Storage</h4>
                            </div>
                            <div class="card-body">
                                <div class="list">
                                    <div class="list-column">
                                        <ul>
                                            <li><a href="">Developer Guide</a></li>
                                            <li><a href="">User Guide</a></li>
                                            <li><a href="">Knowledge Center</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product">
                    <div class="card red">
                        <div class="card-content">
                            <div class="card-title">
                                <h4>Cloud Backup</h4>
                            </div>
                            <div class="card-body">
                                <div class="list">
                                    <div class="list-column">
                                        <ul>
                                            <li><a href="">Developer Guide</a></li>
                                            <li><a href="">User Guide</a></li>
                                            <li><a href="">Knowledge Center</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product">
                    <div class="card red">
                        <div class="card-content">
                            <div class="card-title">
                                <h4>Cloud Files</h4>
                            </div>
                            <div class="card-body">
                                <div class="list">
                                    <div class="list-column">
                                        <ul>
                                            <li><a href="">Developer Guide</a></li>
                                            <li><a href="">User Guide</a></li>
                                            <li><a href="">Knowledge Center</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product">
                    <div class="card red">
                        <div class="card-content">
                            <div class="card-title">
                                <h4>Cloud CDN</h4>
                            </div>
                            <div class="card-body">
                                <div class="list">
                                    <div class="list-column">
                                        <ul>
                                            <li><a href="">Developer Guide</a></li>
                                            <li><a href="">User Guide</a></li>
                                            <li><a href="">Knowledge Center</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="docs-category data" data-ng-show="isSectionActive('data')">
            <h2>Data Services</h2>
            <p>Our data services enable powerful applications and data analysis by providing pre-configured, highly performant and available SQL and NoSQL data stores such as Hadoop, MySQL, Redis, and MongoDB.</p>
            <div class="product-list">
                <div class="product">
                    <div class="card yellow">
                        <div class="card-content">
                            <div class="card-title">Cloud Big Data</div>
                            <div class="card-body">
                                <ul>
                                    <li><a href="">Developer Guide</a></li>
                                    <li><a href="">User Guide</a></li>
                                    <li><a href="">Knowledge Center</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product">
                    <div class="card yellow">
                        <div class="card-content">
                            <div class="card-title">Cloud Databases</div>
                            <div class="card-body">
                                <ul>
                                    <li><a href="">Developer Guide</a></li>
                                    <li><a href="">User Guide</a></li>
                                    <li><a href="">Knowledge Center</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product">
                    <div class="card yellow">
                        <div class="card-content">
                            <div class="card-title">ObjectRocket</div>
                            <div class="card-body">
                                <ul>
                                    <li><a href="">Developer Guide</a></li>
                                    <li><a href="">User Guide</a></li>
                                    <li><a href="">Knowledge Center</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product">
                    <div class="card yellow">
                        <div class="card-content">
                            <div class="card-title">Redistogo</div>
                            <div class="card-body">
                                <ul>
                                    <li><a href="">Developer Guide</a></li>
                                    <li><a href="">User Guide</a></li>
                                    <li><a href="">Knowledge Center</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="docs-category infra" data-ng-show="isSectionActive('infra')">
            <h2>Infrastructure &amp; Developer Tools</h2>
            <p>This collection of powerful tools offers multiple utilities that work well with Rackspace Cloud resources. Cloud Identity is your starting point for accessing any cloud resource. Use Autoscale to provide automatic scaling based on Cloud Monitoring information, in response to in increase or decrease of overall workload, defined by your policies. Cloud Orchestration provides templates for building entire applications that are highly available, scalable, and secure. Use Cloud Queues as a notifications service, with basic components offering the flexibility to use different messaging patterns. Mailgun provides your application access to send or receive email, either through SMTP or the Mailgun API, while verifying the domain and protecting email reputation.</p>
            <div class="product-list">
                <div class="product">
                    <div class="card purple">
                        <div class="card-content">
                            <div class="card-title">
                                <h4>Autoscale</h4>
                            </div>
                            <div class="card-body">
                                <div class="list">
                                    <div class="list-column">
                                        <ul>
                                            <li><a href="">Developer Guide</a></li>
                                            <li><a href="">User Guide</a></li>
                                            <li><a href="">Knowledge Center</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product">
                    <div class="card purple">
                        <div class="card-content">
                            <div class="card-title">
                                <h4>Cloud Monitoring</h4>
                            </div>
                            <div class="card-body">
                                <div class="list">
                                    <div class="list-column">
                                        <ul>
                                            <li><a href="">Developer Guide</a></li>
                                            <li><a href="">User Guide</a></li>
                                            <li><a href="">Knowledge Center</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product">
                    <div class="card purple">
                        <div class="card-content">
                            <div class="card-title">
                                <h4>Mailgun</h4>
                            </div>
                            <div class="card-body">
                                <div class="list">
                                    <div class="list-column">
                                        <ul>
                                            <li><a href="">Developer Guide</a></li>
                                            <li><a href="">User Guide</a></li>
                                            <li><a href="">Knowledge Center</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product">
                    <div class="card purple">
                        <div class="card-content">
                            <div class="card-title">
                                <h4>Cloud Queues</h4>
                            </div>
                            <div class="card-body">
                                <div class="list">
                                    <div class="list-column">
                                        <ul>
                                            <li><a href="">Developer Guide</a></li>
                                            <li><a href="">User Guide</a></li>
                                            <li><a href="">Knowledge Center</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product">
                    <div class="card purple">
                        <div class="card-content">
                            <div class="card-title">
                                <h4>Cloud Orchestration</h4>
                            </div>
                            <div class="card-body">
                                <div class="list">
                                    <div class="list-column">
                                        <ul>
                                            <li><a href="">Developer Guide</a></li>
                                            <li><a href="">User Guide</a></li>
                                            <li><a href="">Knowledge Center</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

            </article>
        </section>
    </div>

    
        <footer class="site-footer">
    <div class="footer-container">
      <div class="docs-links">
        <h5>Docs</h5>
        <ul>
          <li><a href="">Autoscale</a></li>
          <li><a href="">CDN</a></li>
          <li><a href="">Cloud Block Storage</a></li>
          <li><a href="">Cloud Databases</a></li>
          <li><a href="">Cloud DNS</a></li>
          <li><a href="">Cloud Files</a></li>
          <li><a href="">Cloud Identity</a></li>
        </ul>
        <ul>
          <li><a href="">Cloud Images</a></li>
          <li><a href="">Cloud Load Balancers</a></li>
          <li><a href="">Cloud Monitoring</a></li>
          <li><a href="">Cloud Networks</a></li>
          <li><a href="">Cloud Queues</a></li>
          <li><a href="">Cloud Servers</a></li>
          <li><a href="">Orchestration</a></li>
        </ul>
      </div>
      <div class="sdk-links">
        <h5>Sdks</h5>
        <ul>
          <li><a href="">Go</a></li>
          <li><a href="">Java</a></li>
          <li><a href="">.Net</a></li>
          <li><a href="">Node</a></li>
          <li><a href="">PHP</a></li>
          <li><a href="">Python</a></li>
          <li><a href="">Ruby</a></li>
        </ul>
      </div>
      <div class="partner-links">
        <h5>Partner Tools</h5>
        <ul>
          <li><a href="http://help.airbrake.io/kb/api-2/api-overview">Airbrake</a></li>
          <li><a href="http://documentation.mailgun.com/api_reference.html">Mailgun</a></li>
          <li><a href="http://docs.objectrocket.com/">ObjectRocket</a></li>
          <li><a href="http://redistogo.com/documentation/api">RedisToGo</a></li>
        </ul>
      </div>
      <div class="community-links">
        <h5>Community</h5>
        <ul>
          <li><a href="">Developer Blog</a></li>
          <li><a href="">Developer Forum</a></li>
          <li><a href="">Popular Topics</a></li>
          <li><a href="">Events</a></li>
        </ul>
      </div>
      <span class="copyright">&copy;2015 Rackspace US, Inc.</span>
    </div>
</footer>
    <div class="basement-container">
        <ul>
          <li><span>&copy;2015 Rackspace US, Inc.</span></li>
          <li class="text-link"><a href="http://www.rackspace.com/about/">About Rackspace</a></li>
          <li class="text-link"><a href="http://ir.rackspace.com/">Investors</a></li>
          <li class="text-link"><a href="http://www.rackspace.com/talent/">Careers</a></li>
          <li class="text-link"><a href="http://www.rackspace.com/information/legal/privacystatement">Privacy Statement</a></li>
          <li class="text-link"><a href="http://www.rackspace.com/information/legal/websiteterms">Website Terms</a></li>
          <li class="text-link"><a href="http://www.rackspace.com/information/legal/copyrights_trademarks">Trademarks</a></li>
        </ul>
    </div>

    
    
        <script src="public/dist/js/main.js"></script>
    

</body>
</html>
