{% extends "_layouts/one-column.html" %}

{% set bodyClass = "docs-home" %}
{% set headlineAccent = 'Rackspace' %}
{% set headline = 'SDKs &amp; Tools' %}
{% set tagline = 'Let’s Build Something Powerful Together!' %}
{% set stickyNavOffsetTop = 392 %}

{% block docsHeader %}
    <div class="docs-quickstart-menu">
        <div class="title"><h2>Quickstart Guides:</h2></div>
        <div class="links">
            <ul>
                <li><a href=""><span class="fa fa-pied-piper"></span></a></li>
                <li><a href=""><span class="fa fa-pied-piper"></span></a></li>
                <li><a href=""><span class="fa fa-pied-piper"></span></a></li>
                <li><a href=""><span class="fa fa-pied-piper"></span></a></li>
                <li><a href=""><span class="fa fa-pied-piper"></span></a></li>
                <li><a href=""><span class="fa fa-pied-piper"></span></a></li>
                <li><a href=""><span class="fa fa-pied-piper"></span></a></li>
                <li><a href=""><span class="fa fa-pied-piper"></span></a></li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="doc-index">
<div class="row">
<div class="col-md-12">
  <p>Rackspace supports SDKs in <a href="/sdks/golang">Go</a>, <a href="/sdks/java/">Java</a>, <a href="/sdks/dot-net/">.NET</a>, <a href="/sdks/node-js/">Node.js</a>, <a href="/sdks/php/">PHP, <a href="/sdks/python/">Python</a>, and <a href="/sdks/ruby/">Ruby</a>.</p>

  <div class="sdk-block">
    <h1>Go
      <a class="btn btn-primary btn-sm pull-right" href="/sdks/golang/">&raquo; Learn More</a>
    </h1>

    <ul class="piped-list">
      <li><a href="/docs/cloud-servers/getting-started/?lang=go">Getting Started</a></li>
      <li><a href="http://gophercloud.io/docs/">Documentation</a></li>
      <li><a href="https://github.com/rackspace/gophercloud/blob/master/UPGRADING.md">Release Notes</a>&nbsp;<a href="https://github.com/rackspace/gophercloud/releases.atom"><img src="https://8d8dcdd952aa2708c2ff-519cda130c91226e76017ae910bdb276.ssl.cf1.rackc…m/rss-2d0fd9132cd69b98f37a92525d0151e1dab2144886e0aea942adb8ede4b39ff8.png" width="10" height="10" alt="Feed"/></a></li>
      <li><a href="http://gophercloud.io/">Community</a></li>
    </ul>

    <h3>Installing Gophercloud</h3>

    <p>Run the following command (after installing Go):</p>

<div class="highlight"><pre><code class="language-sh" data-lang="sh">go get github.com/rackspace/gophercloud</code></pre></div>

    <p>Then use it in your code by importing it:</p>

<div class="highlight"><pre><code class="language-go" data-lang="go"><span class="kn">import</span> <span class="p">(</span>
<span class="s">&quot;github.com/rackspace/gophercloud&quot;</span>
<span class="s">&quot;github.com/rackspace/gophercloud/rackspace&quot;</span>
<span class="p">)</span></code></pre></div>

    <h4>Requirements</h4>

    <ol>
      <li><a href="http://golang.org/doc/install">Go</a></li>
      <li><a href="http://www.git-scm.com">Git</a></li>
    </ol>
  </div>

  <div class="sdk-block">
    <h1>Java
      <a class="btn btn-primary btn-sm pull-right" href="/sdks/java/">&raquo; Learn More</a>
    </h1>

    <ul class="piped-list">
      <li><a href="/docs/cloud-servers/getting-started/?lang=java">Getting Started</a></li>
      <li><a href="http://jclouds.apache.org/guides/rackspace/">Documentation</a></li>
      <li><a href="https://jclouds.apache.org/releasenotes/">Release Notes</a>&nbsp;<a href="http://jclouds.apache.org/releasenotes/atom.xml"><img src="https://8d8dcdd952aa2708c2ff-519cda130c91226e76017ae910bdb276.ssl.cf1.rackc…m/rss-2d0fd9132cd69b98f37a92525d0151e1dab2144886e0aea942adb8ede4b39ff8.png" width="10" height="10" alt="Feed"/></a></li>
      <li><a href="https://jclouds.apache.org/community/">Community</a></li>
    </ul>

    <h3>Installing jclouds</h3>

    <p>Download this <a href="/sdks/java/pom.xml">pom.xml</a> file.</p>

<div class="highlight"><pre><code class="language-sh" data-lang="sh">mvn dependency:copy-dependencies <span class="s2">&quot;-DoutputDirectory=./lib&quot;</span></code></pre></div>

    <p><em>Tip</em>: To make jclouds a part of your existing project, simply copy the relevant dependencies into your own pom.xml file.</p>

    <h4>Requirements</h4>

    <ol>
      <li><a href="http://www.oracle.com/technetwork/java/javase/downloads/index.html">Java Development Kit (JDK) version 6 or higher</a></li>
      <li><a href="http://maven.apache.org/guides/getting-started/maven-in-five-minutes.html">Maven version 3 or higher</a></li>
    </ol>
  </div>

  <div class="sdk-block">
    <h1>.NET
      <a class="btn btn-primary btn-sm pull-right" href="/sdks/dot-net/">&raquo; Learn More</a>
    </h1>

    <ul class="piped-list">
      <li><a href="/docs/cloud-servers/getting-started/?lang=.net">Getting Started</a></li>
      <li><a href="http://openstacknetsdk.org/docs">Documentation</a></li>
      <li><a href="https://github.com/openstacknetsdk/openstack.net/releases">Release Notes</a>&nbsp;<a href="https://github.com/openstacknetsdk/openstack.net/releases.atom"><img src="https://8d8dcdd952aa2708c2ff-519cda130c91226e76017ae910bdb276.ssl.cf1.rackc…m/rss-2d0fd9132cd69b98f37a92525d0151e1dab2144886e0aea942adb8ede4b39ff8.png" width="10" height="10" alt="Feed"/></li>
      <li><a href="https://github.com/openstacknetsdk/openstack.net/wiki">Community</a></li>
    </ul>

    <h3>Installing openstack.net</h3>

<div class="highlight"><pre><code class="language-sh" data-lang="sh">PM&gt; Install-Package openstack.net</code></pre></div>
<div class="highlight"><pre><code class="language-csharp" data-lang="csharp"><span class="k">using</span> <span class="nn">net.openstack.Providers.Rackspace</span><span class="p">;</span>
<span class="k">using</span> <span class="nn">net.openstack.Core.Providers</span><span class="p">;</span>
<span class="k">using</span> <span class="nn">net.openstack.Core.Exceptions.Response</span><span class="p">;</span></code></pre></div>
  </div>

  <div class="sdk-block">
    <h1>Node.js
      <a class="btn btn-primary btn-sm pull-right" href="/sdks/node-js/">&raquo; Learn More</a>
    </h1>

    <ul class="piped-list">
      <li><a href="/docs/cloud-servers/getting-started/?lang=node.js">Getting Started</a></li>
      <li><a href="https://github.com/pkgcloud/pkgcloud/tree/master/docs">Documentation</a></li>
      <li><a href="https://github.com/pkgcloud/pkgcloud/blob/master/CHANGELOG.md">Release Notes</a>&nbsp;<a href="https://github.com/pkgcloud/pkgcloud/releases.atom"><img src="https://8d8dcdd952aa2708c2ff-519cda130c91226e76017ae910bdb276.ssl.cf1.rackc…m/rss-2d0fd9132cd69b98f37a92525d0151e1dab2144886e0aea942adb8ede4b39ff8.png" width="10" height="10" alt="Feed"/></li>
      <li><a href="https://github.com/pkgcloud/pkgcloud">Community</a></li>
    </ul>

    <h3>Installing pkgcloud</h3>

    <div class="highlight"><pre><code class="language-sh" data-lang="sh"><span class="nv">$ </span>npm install pkgcloud</code></pre></div>
    <div class="highlight"><pre><code class="language-javascript" data-lang="javascript"><span class="kd">var</span> <span class="nx">pkgcloud</span> <span class="o">=</span> <span class="nx">require</span><span class="p">(</span><span class="s1">&#39;pkgcloud&#39;</span><span class="p">);</span>

<span class="kd">var</span> <span class="nx">client</span> <span class="o">=</span> <span class="nx">pkgcloud</span><span class="p">.</span><span class="nx">providers</span><span class="p">.</span><span class="nx">rackspace</span><span class="p">.</span><span class="nx">createClient</span><span class="p">({</span><span class="cm">/* ... */</span><span class="p">});</span></code></pre></div>
  </div>

  <div class="sdk-block">
    <h1>PHP
      <a class="btn btn-primary btn-sm pull-right" href="/sdks/php/">&raquo; Learn More</a>
    </h1>

    <ul class="piped-list">
      <li><a href="/docs/cloud-servers/getting-started/?lang=php">Getting Started</a></li>
      <li><a href="https://github.com/rackspace/php-opencloud/tree/master/docs/userguide">Documentation</a></li>
      <li><a href="https://github.com/rackspace/php-opencloud/releases/">Release Notes</a>&nbsp;<a href="https://github.com/rackspace/php-opencloud/releases.atom"><img src="https://8d8dcdd952aa2708c2ff-519cda130c91226e76017ae910bdb276.ssl.cf1.rackc…m/rss-2d0fd9132cd69b98f37a92525d0151e1dab2144886e0aea942adb8ede4b39ff8.png" width="10" height="10" alt="Feed"/></li>
      <li><a href="https://github.com/rackspace/php-opencloud">Community</a></li>
    </ul>

    <h3>Installing PHP-Opencloud</h3>

<div class="highlight"><pre><code class="language-sh" data-lang="sh"><span class="nv">$ </span>composer require rackspace/php-opencloud</code></pre></div>
<div class="highlight"><pre><code class="language-php" data-lang="php"><span class="k">require</span> <span class="s1">&#39;vendor/autoload.php&#39;</span><span class="p">;</span>

<span class="k">use</span> <span class="nx">OpenCloud\Rackspace</span><span class="p">;</span></code></pre></div>
  </div>

  <div class="sdk-block">
    <h1>Python
      <a class="btn btn-primary btn-sm pull-right" href="/sdks/python/">&raquo; Learn More</a>
    </h1>

    <ul class="piped-list">
      <li><a href="/docs/cloud-servers/getting-started/?lang=python">Getting Started</a></li>
      <li><a href="https://github.com/rackspace/pyrax/tree/master/docs">Documentation</a></li>
      <li><a href="https://github.com/rackspace/pyrax/blob/master/RELEASENOTES.md">Release Notes</a>&nbsp;<a href="https://github.com/rackspace/pyrax/releases.atom"><img src="https://8d8dcdd952aa2708c2ff-519cda130c91226e76017ae910bdb276.ssl.cf1.rackc…m/rss-2d0fd9132cd69b98f37a92525d0151e1dab2144886e0aea942adb8ede4b39ff8.png" width="10" height="10" alt="Feed"/></li>
      <li><a href="https://github.com/rackspace/pyrax/issues">Community</a></li>
    </ul>

    <h3>Installing pyrax</h3>
    <div class="highlight"><pre><code class="language-sh" data-lang="sh"><span class="nv">$ </span>pip install pyrax</code></pre></div>

    <div class="highlight"><pre><code class="language-python" data-lang="python"><span class="kn">import</span> <span class="nn">pyrax</span></code></pre></div>
  </div>

  <div class="sdk-block">
    <h1>Ruby
      <a class="btn btn-primary btn-sm pull-right" href="/sdks/ruby/">&raquo; Learn More</a>
    </h1>

    <ul class="piped-list">
      <li><a href="/docs/cloud-servers/getting-started/?lang=ruby">Getting Started</a></li>
      <li><a href="https://github.com/fog/fog/tree/master/lib/fog/rackspace/docs">Documentation</a></li>
      <li><a href="https://github.com/fog/fog/releases">Release Notes</a>&nbsp;<a href="https://github.com/fog/fog/releases.atom"><img src="https://8d8dcdd952aa2708c2ff-519cda130c91226e76017ae910bdb276.ssl.cf1.rackc…m/rss-2d0fd9132cd69b98f37a92525d0151e1dab2144886e0aea942adb8ede4b39ff8.png" width="10" height="10" alt="Feed"/></li>
      <li><a href="http://fog.io/">Community</a></li>
    </ul>

    <h3>Installing fog</h3>

    <div class="highlight"><pre><code class="language-sh" data-lang="sh"><span class="nv">$ </span>gem install fog</code></pre></div>
    <div class="highlight"><pre><code class="language-ruby" data-lang="ruby"><span class="nb">require</span> <span class="s1">&#39;fog&#39;</span></code></pre></div>
  </div>

</div>
</div>
</div>
{% endblock %}
