.docs-content {
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(left,  white 0%, white 58.333332%, @code-background 58.333333%, @code-background 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,white), color-stop(58.333332%,white), color-stop(58.333333%,@code-background), color-stop(100%,@code-background)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  white 0%,white 58.333332%,@code-background 58.333333%,@code-background 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  white 0%,white 58.333332%,@code-background 58.333333%,@code-background 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  white 0%,white 58.333332%,@code-background 58.333333%,@code-background 100%); /* IE10+ */
    background: linear-gradient(to right,  white 0%,white 58.333332%,@code-background 58.333333%,@code-background 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='@code-background',GradientType=1 ); /* IE6-9 */

    @gutter-width: 0px;
    .grid(@gutter-width);

    .section-nav {
        .grid-unit(1/6);
        padding: 10px 0 0 35px;
    }

    .docs-narrative {
        .grid-unit(5/12);
        padding: 10px 35px 0 0;
    }

    .docs-code {
        .grid-unit(5/12);

        .docs-code-body {
            padding: 10px 35px 0 35px;

            h3 {
                border-bottom: solid 1px fadeout(black, 80%);
                color: white;
                line-height: 2.25;
            }

            pre, code {
                color: @code-white;
                overflow-x: scroll;
            }
        }
    }
}
