.docs-content {
    @gutter-width: 0px;
    .grid(@gutter-width);

    h1 {
        color: tint(@text-color, 20%);
    }

    h2, h3 {
        border-bottom: solid 1px fadeout(black, 70%);
        line-height: 2;
        margin-bottom: 15px;
    }

    .section-nav {
        .grid-unit(1/6);
        padding: 10px 0 0 35px;
    }

    .docs-narrative {
        .grid-unit(5/12);
        padding: 10px 35px 0 0;
    }

    .docs-code {
        .grid-unit(5/12);
        background: @code-background;

        .code-language-list {
            .grid(0px);
            background: @code-background-accent;
            margin: 0;
            padding: 0;
            text-align: center;

            li {
                .grid-unit(1/5);
                line-height: 35px;
                overflow: hidden;

                a {
                    background: transparent;
                    color: fadeout(white, 20%);
                    display: block;
                    text-transform: uppercase;
                    text-decoration: none;
                    .transition(background 0.1s ease-in-out);

                    &:hover {
                        background: tint(@code-background-accent, 5%);
                    }

                    &.active span {
                        .open-sans('bold');
                        border-bottom: solid 2px @link-color;
                        color: white;
                    }
                }

                @media (min-width: 1400px) {
                    .grid-unit(1/9);
                }
            }
        }

        .docs-code-body {
            color: white;
            padding: 10px 35px 0 35px;

            h3 {
                border-bottom: solid 1px fadeout(@code-white, 70%);
                color: white;
                line-height: 2;
            }

            pre, code {
                color: @code-white;
                overflow-x: scroll;
            }
        }
    }
}
